<mat-table [dataSource]="courses" >
  <ng-container matColumnDef="_id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let course">{{course._id}}</mat-cell>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let course">{{ course.name }}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
    <mat-cell *matCellDef="let course">
      {{ course.category }}
      <mat-icon aria-hidden="false" aria-label="Example home icon">{{
        course.category | category
      }}</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Acoes -->
  <ng-container matColumnDef="acoes">
    <mat-header-cell class="action-column" *matHeaderCellDef>
      <button (click)="OnAdd()" mat-fab><mat-icon >add</mat-icon></button>
    </mat-header-cell>


      <mat-cell class="action-column" *matCellDef="let course"  >
        <button (click)="OnEdit(course)" mat-mini-fab aria-label="Editar curso" color="primary">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab aria-label="Excluir curso" color="warn"><!-- color="warn" para mostrar em vermelho -->
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>




  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
